@model IEnumerable<Hospital_Management_System.Models.Prescription>

@{
    ViewBag.Title = "ListOfPrescription";
    Layout = "~/Views/Shared/_PatientLayout.cshtml";
}

<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Prescription</li>
        <li class="active">List of Prescriptions</li>
    </ol>
</div>

<h2>List Of Prescriptions</h2>

<table id="table_id" class="table">
    <thead>
    <tr>
        <th>
            Doctor Name
        </th>
        <th>
            Date
        </th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Doctor.FullName)
                </td>
                <td>
                    @item.PrescriptionAddDate.ToShortDateString()
                </td>
                <td>
                    <a href="@Url.Action("PrescriptionView", new {id = item.Id})" class="fa fa-book" style="font-size: 19px; color: lightblue"></a>
                </td>
            </tr>
        }
    </tbody>

</table>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#table_id").dataTable();
        });
    </script>
}